h1 {font-family: tahoma, helvetica, sans-serif;
    font-size: 30pt;
    text-align: center;}

p {
    text-align: center;
}

div {
    margin: 2em auto;
    border: 2px solid black;
    width: 500px;
    height: auto;
}

.gap {
    margin-right: 6em;
}
.input-box {
    width: 200px;
    height: 20px;
    font-size: 15px;
    
}
.signup {
    border: none;
    background-color: lightgreen;
    padding: 5px 15px;
    font-size: 20px;
    margin: 1em;
 
}

.cancel {
    border: none;
    background-color: red;
    color: white;
    padding: 5px 15px;
    font-size: 20px;
}
